.product-container{
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 15px!important;
    background-color: rgb(208, 245, 233) !important;
}
.product-container img{
    height: 250px;
    border-radius: 15px;
}
.btn-custom{
    background-color: #adf7ad;
    color: #333;
    padding: 5px 10px;
    border: 0;
    border-radius: 7px;
    margin-right: 10px;
    transition-duration: 0.3s;
}
.btn-custom:hover{
    background-color: rgb(95, 252, 95);
}
.bottom-card-fix{
    margin: 10px 10px;
    align-items: center;
}
.link-fix{
    color: #333;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
.price-fix{
    color: #058105;
    margin-left: 10px;
}